html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 12px;
}

.styled-option {
  margin: 10px;
  text-align: left;
  vertical-align: bottom;
}

.styled-option select {
  width: 80px;
  background: #f0f0f0;
  position: absolute;
  right: 0;
  margin: -2px;
}

#options {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 155px;
}

#script {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 160px;
    right: 0;
    margin: 8px;
}

#editor-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    margin: 0;
}

#viewer-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    margin: 0;
  }

#editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 4px;
    margin: 0;
    border: 1px solid black;
}

#viewer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 4px;
    margin: 0;
    border: 1px solid black;
}

#grapher {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 4px;
    margin: 0;
    border: 1px solid black;
    overflow: auto;
}