body {
    overflow: hidden; 
}

#options {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 199px;
    background: lightgrey;
}

#editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 0;
}
