html 
{
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 50%;
}

body 
{
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 9pt;
}

#top-toolbar 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 26px;
    margin: 0;
    padding: 4px 0px;
}

#script 
{
    position: absolute;
    top: 26px;
    bottom: 23px;
    left: 0;
    right: 0;
    margin: 0px 8px 0px 8px;
}

#bottom-toolbar 
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 23px;
    margin: 0;
    padding: 3px 0px;
}

#editor 
{
    position: absolute;
    top: 0;
    bottom: 0;
    float: left;
    width: 50%;
    margin: 0;
    border: 1px solid black;
}

#viewer 
{
    position: absolute;
    top: 0;
    bottom: 0;
    float: left;
    right: 0;
    margin-left: 8;
    padding: 0;
    border: 1px solid black;
    border-radius: 4px;
  }

#text-viewer 
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#graph-viewer
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 4px;
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    overflow: auto;
}

#script-divider 
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 602px;
    width: 8px;
    cursor: ew-resize;
}

#top-toolbar .editor-option,
#top-toolbar .viewer-option,
#bottom-toolbar .editor-option, 
#bottom-toolbar .viewer-option 
{
    height: 18px;
    border-radius: 4px;
    outline: 0;
    border-color: black;
    line-height: normal;
}

#bottom-toolbar .editor-option, 
#top-toolbar .editor-option 
{
    float: left;
    margin-left: 8px;
}

#bottom-toolbar .viewer-option, 
#top-toolbar .viewer-option 
{
    float: right;
    margin-right: 8px;
}

#bottom-toolbar .btn-default.active, 
#top-toolbar .btn-default.active, 
.btn-default:active, 
.open>.dropdown-toggle.btn-default 
{
    color: white;
    background-color:dodgerblue;
    border-color: black;
}

.btn-group-xs > .btn, 
.btn, 
.btn-default,  
.btn-default.active, 
.btn-default:active, 
.btn-xs 
{
    line-height: normal;
    outline: 0;
    border-color: black;
}

#top-toolbar .editor-option label,
#top-toolbar .viewer-option label,
#bottom-toolbar .editor-option label, 
#bottom-toolbar .viewer-option label 
{
    color: black;
    background-color: white;
    border-color: black;
}

#top-toolbar select option,
#bottom-toolbar select option 
{
    color: black;
    background-color: white;
    border-color: black;
}
