html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 50%;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 9pt;
}

.styled-option {
  margin: 10px;
  text-align: left; 
  vertical-align: bottom;
}

.styled-option select {
  display: none;
  width: 80px;
  background: #f0f0f0;
  position: absolute;
  right: 0;
  margin: -2px;
}

#script {
    position: absolute;
    top: 0;
    bottom: 23px;
    left: 0px;
    right: 0;
    margin: 8px 8px 0px 8px;
}

#bottom-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 23px;
    margin: 0;
    padding: 3px 0px;
}

#editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border: 1px solid black;
}

#viewer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 608px;
    right: 0;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 4px;
  }

#text-viewer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#graph-viewer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 4px;
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    overflow: auto;
}

#script-resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 602px;
    width: 6px;
    cursor: ew-resize;
}

#viewer-mode-btn-group {
    position: absolute;
    top: 18px;
    right: 21px;
}

.editor-option {
    margin-left: 8px;
    margin-bottom: 8px;
    float: left;
    height: 18px;
    background: #f0f0f0;
    border-radius: 4px;
    outline:0px;
}

.viewer-option {
    margin-right: 8px;
    margin-bottom: 8px;
    float: right;
    height: 18px;
    background: #f0f0f0;
    border-radius: 4px;
    outline:0px;
}

#bottom-toolbar .btn-group-xs>.btn, .btn-xs {
    line-height: normal;
}

#bottom-toolbar .btn {
    line-height: normal;
}

#bottom-toolbar .btn-default.active {
    background-color: #fff;
    color: black;
    line-height: normal;
    outline:0px;
}

#bottom-toolbar .btn-default {
    background-color: #fff;
    color: #aaa;
    line-height: normal;
    outline:0px;
}
